/* this file is loaded by index.html and styles the page */

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/**
* Install button from PWA CODELAB
**/
#butInstall {
    background: url(/images/install.svg) center center no-repeat;
    float: right;
    position: relative;
    z-index: 1;
    height: 60px;
    margin: 0 18px;
    width: 22px;
    border: none;
    opacity: 80%;
}

/**
* Styles for Site Layout
**/

.container {
    max-width: 100%;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 75%;
    }
}

/**
* Your Website CSS Styles
**/

/*pagination*/
.pagination {
  margin: auto;
  text-align: center;
}
/*pagination*/

/*Carousel - zoom in*/
.carousel-img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*Contact section here!*/

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #db567e;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #db567e;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*contact section ends here*/

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/**
Home Page
**/
html {
	 background: #f5f7f8;
	 font-family: system-ui;
	 -webkit-font-smoothing: antialiased;
	 padding: 0px 0;
}
header {
	 width:80%;
	 max-width: 1240px;
	 margin: 0 auto;
   
}
.carousel-slider {
  max-height: 500px
}

.brand-logo {
  font-family: "Impact";
  font-weight: 720;
}
.band {
	 width: 80%;
	 max-width: 1240px;
	 margin: 0 auto;
	 display: grid;
	 grid-template-columns: 1fr;
	 grid-template-rows: auto;
	 grid-gap: 20px;
}
 @media (min-width: 30em) {
	 .band {
		 grid-template-columns: 1fr 1fr;
	}
}
 @media (min-width: 60em) {
	 .band {
		 grid-template-columns: repeat(3, 1fr);
	}
}
 .card {
	 background: white;
	 text-decoration: none;
	 color: #444;
	 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	 display: flex;
	 flex-direction: column;
	 min-height: 100%;
	 position: relative;
	 top: 0;
	 transition: all 0.1s ease-in;
}
 .card:hover {
	 top: -2px;
	 box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
 .card article {
	 padding: 20px;
	 flex: 1;
	 display: flex;
	 flex-direction: column;
	 justify-content: space-between;
}
 .card h1 {
	 font-size: 20px;
	 margin: 0;
	 color: #333;
}
 .card p {
	 flex: 1;
	 line-height: 1.4;
}
 .card span {
	 font-size: 12px;
	 font-weight: bold;
	 color: #999;
	 text-transform: uppercase;
	 letter-spacing: 0.05em;
	 margin: 2em 0 0 0;
}
 .card .thumb {
	 padding-bottom: 60%;
	 background-size: cover;
	 background-position: center center;
}
 @media (min-width: 60em) {
	 .bigitem {
		 grid-column: 1 / span 2;
	}
	 .bigitem h1 {
		 font-size: 24px;
	}
   .item {
		 grid-column: 1 span 1;
	}
	 .item h1 {
		 font-size: 24px;
	}
}
/** home page end **/

/** blog posts **/

.post-title {
  font-family: "optima", sans-serif;
  color: #e34d64;
}

h1 { font-family: "Optima", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  color: #e34d64;}

h3 { font-family: "Optima", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 420;
  color: #e34d64;}

.comments {
font-family: "Optima", sans-serif;
  color: #d1586e;
  font-size: 100%;
}

.datetime {
font-family: "Optima", sans-serif;
  color: #d1586e;
  font-size: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
 
.postmeta {
  background: white;
	 text-decoration: blink;
	 color: #e34d64;
	 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	 display: flex;
	 flex-direction: column;
	 min-height: 100%;
	 position: relative;
	 top: 0;
	 transition: all 0.1s ease-in;
}

.blog-card {
	 background: #f5f7f8;
	 text-decoration: none;
	 color: #444;
	 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	 display: flex;
	 flex-direction: column;
	 min-height: 65%;
	 position: relative;
	 top: 0;
	 transition: all 0.1s ease-in;
  padding-top: 0px;
  padding-bottom: 10%;
  padding-right: 10%;
  padding-left: 10%;
}
 
/**
BLOG POST END
**/

/**style**/

.about-image {
  display: block;
  margin: auto;
  max-width: 95%;
}